$navy: #041C32;
$accent: #ECB365;
$dark-blue: #04293A;
$blue: #064663;

body {
  min-height: 100vh;
  width: 100%;
  background-color: $navy;
  overflow-x: hidden;
}

p {
  font-size: 20px;
  color: white;
}

main {
  margin-bottom: 0!important;
}

.navbar {
  background-color: $accent;
  padding: 0 2rem;

  p {
    color: $blue;
    font-weight: bold;
    &:hover {
      color: $navy;
    }
  }

  .button {
    background-color: $blue;
    border: none;
    &:hover {
      background-color: $navy;
    }
  }
}

#movie-container {
  position: relative;
  top: 10;

  div {
    align-items: center;
    margin-bottom: 20px;
    
  }

  img {
    width: 80px;
  }

  p {
    margin-left: 20px;
    font-size: 20px;
  }
}

.title {
  color: white;
  margin-bottom: 0 !important;
}


.box {
  background-color: $blue;
  
  .is-5 {
    padding-bottom: 15px;
  }
}

.streaming-imgs {
  img {
    height: 80px;
    width: 80px;
    margin-right: 20px;
    opacity: .1;
  }
  .active {
    opacity: 1;
  }
}

#list-button {
  border-radius: 50%;
  height: 25px;
  margin-left: 10px;
  border: none;
  background-color: $accent;
  padding: 7px 6px;
  cursor: pointer;
}